
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

 main{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    
 }
 ul{
    list-style: none;
    padding: 0;
 }
 li{
    
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
 }

.inputarea{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
 } 
 
 input[type="text"]{
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
 }

 .edit-input{
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
 }

 .addbtn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    width: 80%;
 }
 .editbtn{
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
 }
  .deletebtn{
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .itemarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 10px;
    overflow-y: auto;
    max-height: 200px;
    width: 100%;
  }

    .itemarea ul{
        width: 100%;
        padding: 0;
        margin: 0;
    }


    .addbtn:hover,
    .editbtn:hover,
    .deletebtn:hover{
        opacity: 0.8;
    }
